---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


html {
  font-size: 16px; 

  @include breakpoint($medium) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 16px; // change to whatever
  }
}

.sidebar {
  .author__avatar img { max-width: 130px; }
  .author__name { font-size: 1.125em;}

  p, li { font-size: 0.85em; }

  @include breakpoint($large) {
    width: calc(170px - 1em); // was $right-sidebar-width-narrow: 200px
    padding-left: 5px;
  }
}  


.sidebar__right { 
  @include breakpoint($large) {
    width: 200px; 
    margin-right: -200px;
    padding-left: 30px;
    padding-right: 5px;
  }

  @include breakpoint($x-large) {
    width: 220px; 
    margin-right: -220px;
    padding-left: 40px;
    padding-right: 5px;
  }
}

.page {
  @include breakpoint($large) {
    float: right;
    width: calc(100% - 210px); 
    padding-right: 210px; // was $right-sidebar-width-narrow: 200px
  }

  @include breakpoint($x-large) {
    width: calc(100% - 240px);
    padding-right: 240px; // was $right-sidebar-width: 300px
  }
}

.page__inner-wrap {
  .page__date {
    font-size: 0.8em;
    color: #666666;
    margin-top: -1.8em;
    margin-bottom: 2em;
  }  
}

.page__title {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

// .page__content {
//   font-size: 0.9em;
// }  

.mjx-chtml.MathJax_CHTML { font-size: 100% !important;}  
.mjx-chtml.MJXc-display { font-size: 100% !important;}  

.notice { font-size: 0.85em !important;}
.notice--info { font-size: 0.85em !important;}
.notice--primary { font-size: 0.85em !important;}
.nptice--warning { font-size: 0.85em !important;}
.notice--success { font-size: 0.85em !important;}
.nptice--danger { font-size: 0.85em !important;}

table { font-size: 0.85em;}

small, .small { font-size: 0.85em;}

h2 {font-size: 1.4em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.1em;}

.site-title { font-size: 20px;}
.masthead__menu-item { font-size: 20px;}

.page__meta { font-size: 0.9em;}

.page__taxonomy-item {  
  margin-bottom: 5px;
}

.toc__menu { font-size: 0.8em; }

.taxonomy__index { font-size: 0.85em; }

.archive__subtitle { 
  font-size: 0.95em; 
  color: #9f9f9f;
}

.archive__item-title { font-size: 1.25em; } 

.archive__item-title a { text-decoration: none;  }

.archive__item-excerpt { font-size: 0.85em; } 

