---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


html {
  font-size: 16px; 

  @include breakpoint($medium) {
    font-size: 17px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 18px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 20px; // change to whatever
  }
}

.sidebar {
  @include breakpoint($large) {
    width: calc(170px - 1em); // was $right-sidebar-width-narrow: 200px
  }
}  

.sidebar {
  p, li { font-size: 0.78em; }
}

.sidebar__right { 
  @include breakpoint($large) {
    width: 170px; 
    margin-right: -170px;
    padding-right: 0.2em;
  }

  @include breakpoint($x-large) {
    width: 200px; 
    margin-right: -200px;
    padding-right: 0.2em;
  }
}

.page {
  @include breakpoint($large) {
    float: right;
    width: calc(100% - 180px); 
    padding-right: 180px; // was $right-sidebar-width-narrow: 200px
  }

  @include breakpoint($x-large) {
    width: calc(100% - 200px);
    padding-right: 200px; // was $right-sidebar-width: 300px
  }
}

.page__inner-wrap {
  .page__date {
    font-size: 0.8em;
    color: #666666;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
  }  
}

.page__title {
  margin-top: 0.8em;
  margin-bottom: 1em;
}

.page__content {
  font-size: 0.9em;
  .mjx-chtml.MathJax_CHTML { font-size: 95% !important;}  
  .mjx-chtml.MJXc-display { font-size: 95% !important;}  
}  

.notice { font-size: 0.85em !important;}
.notice--info { font-size: 0.85em !important;}
.notice--primary { font-size: 0.85em !important;}
.nptice--warning { font-size: 0.85em !important;}
.notice--success { font-size: 0.85em !important;}
.nptice--danger { font-size: 0.85em !important;}

table { font-size: 0.85em;}

small, .small { font-size: 0.85em;}

h1 {font-size: 1.6em;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.1em;}

.page__meta { font-size: 0.85em;}

.page__taxonomy {
  strong { margin-right: 3px }
}
.page__taxonomy-item {  
  border: none; 
  padding: 3px 6px; 
  margin-right: 3px; 
}

.taxonomy__index { font-size: 0.85em; }

.archive__item-title { font-size: 1.25em; } 

.archive__item-title a { text-decoration: none;  }

.archive__item-excerpt { font-size: 0.85em; } 

