---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

<h3 class="archive__subtitle">{{ "Recent Projects" }}</h3>

{% for collection in site.collections %}
  {% for post in collection.docs %}
    {% unless collection.output == false or collection.label == "projects" %}
      {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endfor %}

{% include paginator.html %}
